[data-theme="educatius"] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 170 96% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 170 96% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 170 96% 30%;
    --info-background: 201 100% 96%;
    --info-border: 201 100% 86%;
    --info-foreground: 201 100% 35%;
    --radius: 0.5rem;
    --educatius-teal-25: #e8f4f4;
    --educatius-teal-50: #b9ece8;
    --educatius-teal-100: #8ae5dc;
    --educatius-teal-200: #5bddd0;
    --educatius-teal-300: #2cd5c4;
    --educatius-teal-400: #16b6aa;
    --educatius-teal-500: #00968f;
    --educatius-teal-600: #007f7a;
    --educatius-teal-700: #006866;
    --educatius-teal-800: #005151;
    --educatius-teal-900: #043e41;
    --educatius-teal-950: #072b31;
    --educatius-purple-25: #ece5f5;
    --educatius-purple-50: #dcd6ee;
    --educatius-purple-100: #cdc1e8;
    --educatius-purple-200: #bdabe2;
    --educatius-purple-300: #ad96dc;
    --educatius-purple-400: #794bbb;
    --educatius-purple-500: #440099;
    --educatius-purple-600: #400588;
    --educatius-purple-700: #3b0a77;
    --educatius-purple-800: #371067;
    --educatius-purple-900: #321556;
    --educatius-purple-950: #2e1a45;
    --educatius-orange-25: #fff3e1;
    --educatius-orange-50: #ffd67f;
    --educatius-orange-100: #ffb81c;
    --educatius-orange-200: #ff9d0e;
    --educatius-orange-300: #ff8200;
    --educatius-orange-400: #ff6900;
    --educatius-orange-500: #fe5000;
    --educatius-orange-600: #da4500;
    --educatius-orange-700: #b63a00;
    --educatius-orange-800: #912e00;
    --educatius-orange-900: #6d2300;
    --educatius-orange-950: #491800;
    --educatius-burgundy-25: #f1e8ea;
    --educatius-burgundy-50: #ecd1c9;
    --educatius-burgundy-100: #e6baa8;
    --educatius-burgundy-200: #cb8281;
    --educatius-burgundy-300: #b04a5a;
    --educatius-burgundy-400: #8b3446;
    --educatius-burgundy-500: #651d32;
    --educatius-burgundy-600: #5b1a2d;
    --educatius-burgundy-700: #511728;
    --educatius-burgundy-800: #471523;
    --educatius-burgundy-900: #3d121e;
    --educatius-burgundy-950: #330f19;
}