[data-theme="greenheart"] {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 142 76% 36%;
  --primary-foreground: 210 40% 98%;
  --secondary: 142 33% 96%;
  --secondary-foreground: 142 76% 36%;
  --muted: 142 33% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 142 76% 36%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 142 33% 91%;
  --input: 142 33% 91%;
  --ring: 142 76% 36%;
  --info-background: 142 100% 96%;
  --info-border: 142 100% 86%;
  --info-foreground: 142 76% 36%;
  --radius: 0.5rem;


  /* BRAND */
  --greenheart-aloe-25: #e8f3d9;
  --greenheart-aloe-50: #d8ebbf;
  --greenheart-aloe-100: #c9e4a6;
  --greenheart-aloe-200: #b9dc8c;
  --greenheart-aloe-300: #a9d472;
  --greenheart-aloe-400: #9acd59;
  --greenheart-aloe-500: #8ac53f;
  --greenheart-aloe-600: #74a535;
  --greenheart-aloe-700: #577b27;
  --greenheart-aloe-800: #486620;
  --greenheart-aloe-900: #324716;
  --greenheart-aloe-950: #1c270c;
  --greenheart-poppy-25: #ffdfe2;
  --greenheart-poppy-50: #ffcace;
  --greenheart-poppy-100: #ffb5bb;
  --greenheart-poppy-200: #ffa0a7;
  --greenheart-poppy-300: #ff8b93;
  --greenheart-poppy-400: #ff7680;
  --greenheart-poppy-500: #ff7276;
  --greenheart-poppy-600: #d6515b;
  --greenheart-poppy-700: #ad424a;
  --greenheart-poppy-800: #853238;
  --greenheart-poppy-900: #5c2327;
  --greenheart-poppy-950: #331316;
  --greenheart-lavender-25: #e3e1f5;
  --greenheart-lavender-50: #d2cdee;
  --greenheart-lavender-100: #c0b9e8;
  --greenheart-lavender-200: #afa5e1;
  --greenheart-lavender-300: #9d91da;
  --greenheart-lavender-400: #8c7dd4;
  --greenheart-lavender-500: #8986ca;
  --greenheart-lavender-600: #6658ac;
  --greenheart-lavender-700: #52478b;
  --greenheart-lavender-800: #3f376b;
  --greenheart-lavender-900: #2b264a;
  --greenheart-lavender-950: #171529;
  --greenheart-sky-blue-25: #e5f7fc;
  --greenheart-sky-blue-50: #bfeaf7;
  --greenheart-sky-blue-100: #99ddf3;
  --greenheart-sky-blue-200: #73d0ee;
  --greenheart-sky-blue-300: #4cc3e9;
  --greenheart-sky-blue-400: #26b6e5;
  --greenheart-sky-blue-500: #00a9e0;
  --greenheart-sky-blue-600: #008ebc;
  --greenheart-sky-blue-700: #007398;
  --greenheart-sky-blue-800: #005875;
  --greenheart-sky-blue-900: #003d51;
  --greenheart-sky-blue-950: #00222d;
  --greenheart-citrine-25: #fff9d8;
  --greenheart-citrine-50: #fff4b4;
  --greenheart-citrine-100: #ffef90;
  --greenheart-citrine-200: #ffea6c;
  --greenheart-citrine-300: #fee548;
  --greenheart-citrine-400: #fee024;
  --greenheart-citrine-500: #fedb00;
  --greenheart-citrine-600: #dbbc00;
  --greenheart-citrine-700: #b79e00;
  --greenheart-citrine-800: #947f00;
  --greenheart-citrine-900: #706100;
  --greenheart-citrine-950: #4d4200;
  --greenheart-pine-25: #d8ece1;
  --greenheart-pine-50: #b4dbc6;
  --greenheart-pine-100: #90c9aa;
  --greenheart-pine-200: #6cb88f;
  --greenheart-pine-300: #48a774;
  --greenheart-pine-400: #249558;
  --greenheart-pine-500: #00843d;
  --greenheart-pine-600: #067133;
  --greenheart-pine-700: #0b5f29;
  --greenheart-pine-800: #114c20;
  --greenheart-pine-900: #163a16;
  --greenheart-pine-950: #1c270c;
  --greenheart-mountain-25: #fbfbfb;
  --greenheart-mountain-50: #f3f3f3;
  --greenheart-mountain-100: #e1e1e2;
  --greenheart-mountain-200: #d4d5d5;
  --greenheart-mountain-300: #aeaeaf;
  --greenheart-mountain-400: #878889;
  --greenheart-mountain-500: #6d6e70;
  --greenheart-mountain-600: #5e5f60;
  --greenheart-mountain-700: #4f4f50;
  --greenheart-mountain-800: #3f4041;
  --greenheart-mountain-900: #303031;
  --greenheart-mountain-950: #212121;
  --greenheart-marigold-25: #fff9ec;
  --greenheart-marigold-50: #fff1d0;
  --greenheart-marigold-100: #ffe9b4;
  --greenheart-marigold-200: #ffe199;
  --greenheart-marigold-300: #ffd87d;
  --greenheart-marigold-400: #ffd061;
  --greenheart-marigold-500: #ffc845;
  --greenheart-marigold-600: #dbac3b;
  --greenheart-marigold-700: #b89032;
  --greenheart-marigold-800: #947428;
  --greenheart-marigold-900: #71581f;
  --greenheart-marigold-950: #4d3c15;
  --greenheart-azure-25: #f0fafc;
  --greenheart-azure-50: #d9f3f7;
  --greenheart-azure-100: #c3edf2;
  --greenheart-azure-200: #ace6ee;
  --greenheart-azure-300: #95dfe9;
  --greenheart-azure-400: #7fd9e4;
  --greenheart-azure-500: #68d2df;
  --greenheart-azure-600: #59b5c0;
  --greenheart-azure-700: #4b97a1;
  --greenheart-azure-800: #3c7a81;
  --greenheart-azure-900: #2e5c62;
  --greenheart-azure-950: #1f3f43;
}