:root {
    /* PALETTE */
    --text-primary-light: var(--base-grey-950);
    --text-primary-dark: #ffffff;
    --text-secondary-light: rgba(0 0 0 / 0.6);
    --text-secondary-dark: rgba(255 255 255 / 0.7);
    --text-disabled-light: rgba(0 0 0 / 0.38);
    --text-disabled-dark: rgba(255 255 255 / 0.38);
    --primary-main-light: var(--base-primary-main-lightmode);
    --primary-main-dark: var(--base-primary-main-darkmode);
    --primary-dark-light: var(--base-primary-dark-lightmode);
    --primary-dark-dark: var(--base-primary-dark-darkmode);
    --primary-light-light: var(--base-primary-light-lightmode);
    --primary-light-dark: var(--base-primary-light-darkmode);
    --primary-contrast-light: var(--base-primary-contrast-lightmode);
    --primary-contrast-dark: var(--base-grey-950);
    --primary-hover-light: rgba(87 123 39 / 0.04);
    --primary-hover-dark: rgba(144 202 249 / 0.08);
    --primary-selected-light: rgba(87 123 39 / 0.08);
    --primary-selected-dark: rgba(144 202 249 / 0.16);
    --primary-focus-light: rgba(87 123 39 / 0.12);
    --primary-focus-dark: rgba(144 202 249 / 0.12);
    --primary-focusvisible-light: rgba(87 123 39 / 0.3);
    --primary-focusvisible-dark: rgba(144 202 249 / 0.3);
    --primary-outlinedborder-light: rgba(87 123 39 / 0.5);
    --primary-outlinedborder-dark: rgba(144 202 249 / 0.5);
    --secondary-main-light: var(--purple-500);
    --secondary-main-dark: var(--purple-200);
    --secondary-dark-light: var(--purple-700);
    --secondary-dark-dark: var(--purple-400);
    --secondary-light-light: var(--purple-300);
    --secondary-light-dark: var(--purple-50);
    --secondary-contrast-light: #ffffff;
    --secondary-contrast-dark: rgba(0 0 0 / 0.87);
    --secondary-hover-light: rgba(156 39 176 / 0.04);
    --secondary-hover-dark: rgba(206 147 216 / 0.08);
    --secondary-selected-light: rgba(156 39 176 / 0.08);
    --secondary-selected-dark: rgba(206 147 216 / 0.16);
    --secondary-focus-light: rgba(156 39 176 / 0.12);
    --secondary-focus-dark: rgba(206 147 216 / 0.12);
    --secondary-focusvisible-light: rgba(156 39 176 / 0.3);
    --secondary-focusvisible-dark: rgba(206 147 216 / 0.3);
    --secondary-outlinedborder-light: rgba(156 39 176 / 0.5);
    --secondary-outlinedborder-dark: rgba(206 147 216 / 0.5);
    --action-active-light: var(--base-grey-600);
    --action-active-dark: rgba(255 255 255 / 0.56);
    --action-hover-light: rgba(0 0 0 / 0.04);
    --action-hover-dark: rgba(255 255 255 / 0.08);
    --action-selected-light: rgba(0 0 0 / 0.08);
    --action-selected-dark: rgba(255 255 255 / 0.16);
    --action-disabledbackground-light: rgba(0 0 0 / 0.12);
    --action-disabledbackground-dark: rgba(255 255 255 / 0.12);
    --action-focus-light: rgba(0 0 0 / 0.12);
    --action-focus-dark: rgba(255 255 255 / 0.12);
    --action-disabled-light: rgba(0 0 0 / 0.38);
    --action-disabled-dark: rgba(255 255 255 / 0.38);
    --error-main-light: var(--red-700);
    --error-main-dark: var(--red-500);
    --warning-main-light: var(--orange-800);
    --warning-main-dark: var(--orange-400);
    --info-main-light: var(--lightblue-700);
    --info-main-dark: var(--lightblue-400);
    --success-main-light: var(--green-800);
    --success-main-dark: var(--green-400);
    --error-dark-light: var(--red-800);
    --error-dark-dark: var(--red-700);
    --error-light-light: var(--red-400);
    --error-light-dark: var(--red-300);
    --error-hover-light: rgba(211 47 47 / 0.04);
    --error-hover-dark: rgba(244 67 54 / 0.08);
    --error-selected-light: rgba(211 47 47 / 0.08);
    --error-selected-dark: rgba(244 67 54 / 0.16);
    --error-focusvisible-light: rgba(211 47 47 / 0.3);
    --error-focusvisible-dark: rgba(244 67 54 / 0.3);
    --error-outlinedborder-light: rgba(211 47 47 / 0.5);
    --error-outlinedborder-dark: rgba(244 67 54 / 0.5);
    --text-hover-light: rgba(0 0 0 / 0.04);
    --text-hover-dark: rgba(255 255 255 / 0.08);
    --text-selected-light: rgba(0 0 0 / 0.08);
    --text-selected-dark: rgba(255 255 255 / 0.16);
    --text-focus-light: rgba(0 0 0 / 0.12);
    --text-focus-dark: rgba(255 255 255 / 0.12);
    --text-focusvisible-light: rgba(0 0 0 / 0.3);
    --text-focusvisible-dark: rgba(255 255 255 / 0.3);
    --common-white-main-light: #ffffff;
    --common-white-main-dark: #ffffff;
    --common-black-main-light: #000000;
    --common-black-main-dark: #000000;
    --common-white-hover-light: rgba(255 255 255 / 0.04);
    --common-white-hover-dark: rgba(255 255 255 / 0.08);
    --common-white-selected-light: rgba(255 255 255 / 0.08);
    --common-white-selected-dark: rgba(255 255 255 / 0.16);
    --common-white-focus-light: rgba(255 255 255 / 0.12);
    --common-white-focus-dark: rgba(255 255 255 / 0.12);
    --common-white-focusvisible-light: rgba(255 255 255 / 0.3);
    --common-white-focusvisible-dark: rgba(255 255 255 / 0.3);
    --common-white-outlinedborder-light: rgba(255 255 255 / 0.5);
    --common-white-outlinedborder-dark: rgba(255 255 255 / 0.5);
    --common-black-hover-light: rgba(0 0 0 / 0.04);
    --common-black-hover-dark: rgba(0 0 0 / 0.08);
    --common-black-selected-light: rgba(0 0 0 / 0.08);
    --common-black-selected-dark: rgba(0 0 0 / 0.16);
    --common-black-focus-light: rgba(0 0 0 / 0.12);
    --common-black-focus-dark: rgba(0 0 0 / 0.12);
    --common-black-focusvisible-light: rgba(0 0 0 / 0.3);
    --common-black-focusvisible-dark: rgba(0 0 0 / 0.3);
    --common-black-outlinedborder-light: rgba(0 0 0 / 0.5);
    --common-black-outlinedborder-dark: rgba(0 0 0 / 0.5);
    --error-contrast-light: #ffffff;
    --error-contrast-dark: #ffffff;
    --warning-dark-light: var(--orange-900);
    --warning-dark-dark: var(--orange-700);
    --warning-light-light: var(--orange-500);
    --warning-light-dark: var(--orange-300);
    --warning-hover-light: rgba(239 108 0 / 0.04);
    --warning-hover-dark: rgba(255 167 38 / 0.08);
    --warning-selected-light: rgba(239 108 0 / 0.08);
    --warning-selected-dark: rgba(255 167 38 / 0.16);
    --warning-contrast-light: #ffffff;
    --warning-contrast-dark: rgba(0 0 0 / 0.87);
    --warning-focusvisible-light: rgba(239 108 0 / 0.3);
    --warning-focusvisible-dark: rgba(255 167 38 / 0.3);
    --warning-outlinedborder-light: rgba(239 108 0 / 0.5);
    --warning-outlinedborder-dark: rgba(255 167 38 / 0.5);
    --info-dark-light: var(--lightblue-900);
    --info-dark-dark: var(--lightblue-700);
    --info-light-light: var(--lightblue-500);
    --info-light-dark: var(--lightblue-300);
    --info-hover-light: rgba(2 136 209 / 0.04);
    --info-hover-dark: rgba(41 182 246 / 0.08);
    --info-selected-light: rgba(2 136 209 / 0.08);
    --info-selected-dark: rgba(41 182 246 / 0.16);
    --info-focusvisible-light: rgba(2 136 209 / 0.3);
    --info-focusvisible-dark: rgba(41 182 246 / 0.3);
    --info-outlinedborder-light: rgba(2 136 209 / 0.5);
    --info-outlinedborder-dark: rgba(41 182 246 / 0.5);
    --info-contrast-light: #ffffff;
    --info-contrast-dark: rgba(0 0 0 / 0.87);
    --success-dark-light: var(--green-900);
    --success-dark-dark: var(--green-700);
    --success-light-light: var(--green-500);
    --success-light-dark: var(--green-300);
    --success-contrast-light: #ffffff;
    --success-contrast-dark: rgba(0 0 0 / 0.87);
    --success-hover-light: rgba(46 125 50 / 0.04);
    --success-hover-dark: rgba(102 187 106 / 0.08);
    --success-selected-light: rgba(46 125 50 / 0.08);
    --success-selected-dark: rgba(102 187 106 / 0.16);
    --success-focusvisible-light: rgba(46 125 50 / 0.3);
    --success-focusvisible-dark: rgba(102 187 106 / 0.3);
    --success-outlinedborder-light: rgba(46 125 50 / 0.5);
    --success-outlinedborder-dark: rgba(102 187 106 / 0.5);
    --background-default-light: #ffffff;
    --background-default-dark: #121212;
    --background-paper-elevation-0-light: #ffffff;
    --background-paper-elevation-0-dark: #121212;
    --background-paper-elevation-1-light: #ffffff;
    --background-paper-elevation-1-dark: #1e1e1e;
    --background-paper-elevation-2-light: #ffffff;
    --background-paper-elevation-2-dark: #232323;
    --background-paper-elevation-3-light: #ffffff;
    --background-paper-elevation-3-dark: #252525;
    --background-paper-elevation-4-light: #ffffff;
    --background-paper-elevation-4-dark: #272727;
    --background-paper-elevation-5-light: #ffffff;
    --background-paper-elevation-5-dark: #2a2a2a;
    --background-paper-elevation-6-light: #ffffff;
    --background-paper-elevation-6-dark: #2c2c2c;
    --background-paper-elevation-7-light: #ffffff;
    --background-paper-elevation-7-dark: #2c2c2c;
    --background-paper-elevation-8-light: #ffffff;
    --background-paper-elevation-8-dark: #2e2e2e;
    --background-paper-elevation-9-light: #ffffff;
    --background-paper-elevation-9-dark: #2e2e2e;
    --background-paper-elevation-10-light: #ffffff;
    --background-paper-elevation-10-dark: #313131;
    --background-paper-elevation-11-light: #ffffff;
    --background-paper-elevation-11-dark: #313131;
    --background-paper-elevation-12-light: #ffffff;
    --background-paper-elevation-12-dark: #333333;
    --background-paper-elevation-13-light: #ffffff;
    --background-paper-elevation-13-dark: #333333;
    --background-paper-elevation-14-light: #ffffff;
    --background-paper-elevation-14-dark: #333333;
    --background-paper-elevation-15-light: #ffffff;
    --background-paper-elevation-15-dark: #333333;
    --background-paper-elevation-16-light: #ffffff;
    --background-paper-elevation-16-dark: #363636;
    --background-paper-elevation-17-light: #ffffff;
    --background-paper-elevation-17-dark: #363636;
    --background-paper-elevation-18-light: #ffffff;
    --background-paper-elevation-18-dark: #363636;
    --background-paper-elevation-19-light: #ffffff;
    --background-paper-elevation-19-dark: #363636;
    --background-paper-elevation-20-light: #ffffff;
    --background-paper-elevation-20-dark: #383838;
    --background-paper-elevation-21-light: #ffffff;
    --background-paper-elevation-21-dark: #383838;
    --background-paper-elevation-22-light: #ffffff;
    --background-paper-elevation-22-dark: #383838;
    --background-paper-elevation-23-light: #ffffff;
    --background-paper-elevation-23-dark: #383838;
    --background-paper-elevation-24-light: #ffffff;
    --background-paper-elevation-24-dark: #383838;
    --divider-light: rgba(0 0 0 / 0.12);
    --divider-dark: rgba(255 255 255 / 0.12);
    --components-rating-enabledborder-light: rgba(0 0 0 / 0.23);
    --components-rating-enabledborder-dark: rgba(255 255 255 / 0.23);
    --components-rating-activefill-light: #ffb400;
    --components-rating-activefill-dark: #ffb400;
    --components-avatar-fill-light: var(--grey-400);
    --components-avatar-fill-dark: var(--grey-600);
    --components-input-standard-enabledborder-light: var(--base-grey-200);
    --components-input-standard-enabledborder-dark: var(--base-grey-300);
    --components-input-standard-hoverborder-light: var(--base-primary-main-lightmode);
    --components-input-standard-hoverborder-dark: var(--base-primary-main-darkmode);
    --components-input-filled-enabledfill-light: rgba(0 0 0 / 0.06);
    --components-input-filled-enabledfill-dark: rgba(255 255 255 / 0.09);
    --components-input-filled-hoverfill-light: rgba(0 0 0 / 0.09);
    --components-input-filled-hoverfill-dark: rgba(255 255 255 / 0.12);
    --components-input-outlined-enabledborder-light: var(--components-inputs-borders-input-border-light);
    --components-input-outlined-enabledborder-dark: var(--components-inputs-borders-input-border-dark);
    --components-input-outlined-hoverborder-light: var(--components-inputs-borders-input-hover-border-light);
    --components-input-outlined-hoverborder-dark: var(--components-inputs-borders-input-hover-border-dark);
    --components-switch-knobfillenabled-light: var(--grey-50);
    --components-switch-knobfillenabled-dark: var(--grey-300);
    --components-switch-slidefill-light: #000000;
    --components-switch-slidefill-dark: rgba(255 255 255 / 0.38);
    --components-switch-knowfilldisabled-light: var(--grey-100);
    --components-switch-knowfilldisabled-dark: var(--grey-600);
    --elevation-outlined-light: #e0e0e0;
    --elevation-outlined-dark: var(--divider);
    --components-chip-defaultclosefill-light: #000000;
    --components-chip-defaultclosefill-dark: #ffffff;
    --components-chip-defaulthoverfill-light: rgba(0 0 0 / 0.12);
    --components-chip-defaulthoverfill-dark: rgba(255 255 255 / 0.12);
    --components-chip-defaultenabledborder-light: var(--grey-400);
    --components-chip-defaultenabledborder-dark: var(--grey-700);
    --components-chip-defaultfocusfill-light: rgba(0 0 0 / 0.2);
    --components-chip-defaultfocusfill-dark: rgba(255 255 255 / 0.2);
    --components-tooltip-fill-light: var(--base-grey-800);
    --components-tooltip-fill-dark: var(--base-grey-100);
    --components-backdrop-fill-light: rgba(255 255 255 / 0.2);
    --components-backdrop-fill-dark: rgba(0 0 0 / 0.5);
    --components-appbar-defaultfill-light: var(--grey-100);
    --components-appbar-defaultfill-dark: var(--background-paper-elevation-4);
    --components-breadcrumbs-collapsefill-light: var(--grey-100);
    --components-breadcrumbs-collapsefill-dark: var(--grey-600);
    --_native-scrollbar-bg-light: var(--grey-200);
    --_native-scrollbar-bg-dark: var(--grey-700);
    --components-alert-error-color-light: #5f2120;
    --components-alert-error-color-dark: #f4c7c7;
    --components-alert-error-background-light: #fdeded;
    --components-alert-error-background-dark: #160b0b;
    --components-alert-warning-color-light: #663c00;
    --components-alert-warning-color-dark: #ffe2b7;
    --components-alert-warning-background-light: #fff4e5;
    --components-alert-warning-background-dark: #191207;
    --components-alert-info-color-light: #014361;
    --components-alert-info-color-dark: #b8e7fb;
    --components-alert-info-background-light: #e5f6fd;
    --components-alert-info-background-dark: #071318;
    --components-alert-success-color-light: #1e4620;
    --components-alert-success-color-dark: #cce8cd;
    --components-alert-success-background-light: #edf7ed;
    --components-alert-success-background-dark: #0c130d;
    --components-stepper-connector-light: var(--grey-400);
    --components-stepper-connector-dark: var(--grey-600);
    --components-snackbar-fill-light: #323232;
    --components-snackbar-fill-dark: var(--background-paper-elevation-6);
    --components-button-primary-backgrounddefault-light: var(--components-buttons-backgrounds-primary-button-bg-light);
    --components-button-primary-backgrounddefault-dark: var(--components-buttons-backgrounds-primary-button-bg-dark);
    --components-button-primary-text-light: var(--components-buttons-text-primary-button-text-light);
    --components-button-primary-text-dark: var(--components-buttons-text-primary-button-text-dark);
    --components-button-primary-backgroundhover-light: var(--components-buttons-backgrounds-primary-button-hover-bg-light);
    --components-button-primary-backgroundhover-dark: var(--components-buttons-backgrounds-primary-button-hover-bg-dark);
    --components-button-primary-backgroundfocus-light: var(--components-buttons-backgrounds-primary-button-focus-bg-light);
    --components-button-primary-backgroundfocus-dark: var(--components-buttons-backgrounds-primary-button-focus-bg-dark);
    --components-button-primary-borderdefault-light: var(--components-buttons-borders-primary-button-border-light);
    --components-button-primary-borderdefault-dark: var(--components-buttons-borders-primary-button-border-dark);
    --components-button-primary-borderhover-light: var(--components-buttons-borders-primary-button-hover-border-light);
    --components-button-primary-borderhover-dark: var(--components-buttons-borders-primary-button-hover-border-dark);
    --components-button-primary-borderfocus-light: var(--components-buttons-borders-primary-button-focus-border-light);
    --components-button-primary-borderfocus-dark: var(--components-buttons-borders-primary-button-focus-border-dark);
    --components-button-secondary-backgrounddefault-light: var(--components-buttons-backgrounds-secondary-button-bg-light);
    --components-button-secondary-backgrounddefault-dark: var(--components-buttons-backgrounds-secondary-button-bg-dark);
    --components-button-secondary-backgroundhover-light: var(--components-buttons-backgrounds-secondary-button-hover-bg-light);
    --components-button-secondary-backgroundhover-dark: var(--components-buttons-backgrounds-secondary-button-hover-bg-dark);
    --components-button-secondary-backgroundfocus-light: var(--components-buttons-backgrounds-secondary-button-focus-bg-light);
    --components-button-secondary-backgroundfocus-dark: var(--components-buttons-backgrounds-secondary-button-focus-bg-dark);
    --components-button-secondary-borderdefault-light: var(--components-buttons-borders-secondary-button-border-light);
    --components-button-secondary-borderdefault-dark: var(--components-buttons-borders-secondary-button-border-dark);
    --components-button-secondary-borderhover-light: var(--components-buttons-borders-secondary-button-hover-border-light);
    --components-button-secondary-borderhover-dark: var(--components-buttons-borders-secondary-button-hover-border-dark);
    --components-button-secondary-borderfocus-light: var(--components-buttons-borders-secondary-button-focus-border-light);
    --components-button-secondary-borderfocus-dark: var(--components-buttons-borders-secondary-button-focus-border-dark);
    --components-button-secondary-text-light: var(--components-buttons-text-secondary-button-text-light);
    --components-button-secondary-text-dark: var(--components-buttons-text-secondary-button-text-dark);
    --components-button-tertiary-backgrounddefault-light: var(--components-buttons-backgrounds-tertiary-button-bg-light);
    --components-button-tertiary-backgrounddefault-dark: var(--components-buttons-backgrounds-tertiary-button-bg-dark);
    --components-button-tertiary-backgroundhover-light: var(--components-buttons-backgrounds-tertiary-button-hover-bg-light);
    --components-button-tertiary-backgroundhover-dark: var(--components-buttons-backgrounds-tertiary-button-hover-bg-dark);
    --components-button-tertiary-backgroundfocus-light: var(--components-buttons-backgrounds-tertiary-button-focus-bg-light);
    --components-button-tertiary-backgroundfocus-dark: var(--components-buttons-backgrounds-tertiary-button-focus-bg-dark);
    --components-button-tertiary-borderdefault-light: var(--components-buttons-borders-tertiary-button-border-light);
    --components-button-tertiary-borderdefault-dark: var(--components-buttons-borders-tertiary-button-border-dark);
    --components-button-tertiary-borderhover-light: var(--components-buttons-borders-tertiary-button-hover-border-light);
    --components-button-tertiary-borderhover-dark: var(--components-buttons-borders-tertiary-button-hover-border-dark);
    --components-button-tertiary-borderfocus-light: var(--components-buttons-borders-tertiary-button-focus-border-light);
    --components-button-tertiary-borderfocus-dark: var(--components-buttons-borders-tertiary-button-focus-border-dark);
    --components-button-tertiary-text-light: var(--components-buttons-text-tertiary-button-text-light);
    --components-button-tertiary-text-dark: var(--components-buttons-text-tertiary-button-text-dark);
    --components-button-disabled-backgrounddefault-light: var(--components-buttons-backgrounds-disabled-button-bg-light);
    --components-button-disabled-backgrounddefault-dark: var(--components-buttons-backgrounds-disabled-button-bg-dark);
    --components-button-disabled-backgroundhover-light: var(--components-buttons-backgrounds-disabled-button-bg-light);
    --components-button-disabled-backgroundhover-dark: var(--components-buttons-backgrounds-disabled-button-bg-dark);
    --components-button-disabled-backgroundfocus-light: var(--components-buttons-backgrounds-disabled-button-bg-light);
    --components-button-disabled-backgroundfocus-dark: var(--components-buttons-backgrounds-disabled-button-bg-dark);
    --components-button-disabled-borderdefault-light: var(--components-buttons-borders-disabled-button-border-light);
    --components-button-disabled-borderdefault-dark: var(--components-buttons-borders-disabled-button-border-dark);
    --components-button-disabled-borderhover-light: var(--components-buttons-borders-disabled-button-border-light);
    --components-button-disabled-borderhover-dark: var(--components-buttons-borders-disabled-button-border-dark);
    --components-button-disabled-borderfocus-light: var(--components-buttons-borders-disabled-button-border-light);
    --components-button-disabled-borderfocus-dark: var(--components-buttons-borders-disabled-button-border-dark);
    --components-button-disabled-text-light: var(--components-buttons-text-disabled-button-text-light);
    --components-button-disabled-text-dark: var(--components-buttons-text-disabled-button-text-dark);
    --components-button-primary-focusring-light: var(--focus-rings-focus-shadow-color-primary-lightmode);
    --components-button-primary-focusring-dark: var(--focus-rings-focus-shadow-color-primary-darkmode);
    --components-button-secondary-focusring-light: var(--focus-rings-focus-shadow-secondary-lightmode);
    --components-button-secondary-focusring-dark: var(--focus-rings-focus-shadow-secondary-darkmode);
    --components-button-tertiary-focusring-light: var(--focus-rings-focus-shadow-color-primary-lightmode);
    --components-button-tertiary-focusring-dark: var(--focus-rings-focus-shadow-color-primary-darkmode);
    --components-input-outlined-inputtextplaceholder-light: var(--components-inputs-text-input-text-placeholder-light);
    --components-input-outlined-inputtextplaceholder-dark: var(--components-inputs-text-input-text-placeholder-dark);
    --components-input-outlined-labeltext-light: var(--components-inputs-text-input-label-enabled-light);
    --components-input-outlined-labeltext-dark: var(--components-inputs-text-input-label-enabled-dark);
    --components-input-outlined-focusborder-light: var(--components-inputs-borders-input-focus-border-light);
    --components-input-outlined-focusborder-dark: var(--components-inputs-borders-input-focus-border-dark);
    --components-input-outlined-enabledbg-light: var(--components-inputs-backgrounds-input-bg-light);
    --components-input-outlined-enabledbg-dark: var(--components-inputs-backgrounds-input-bg-dark);
    --components-input-outlined-hoverbg-light: var(--components-inputs-backgrounds-input-hover-bg-light);
    --components-input-outlined-hoverbg-dark: var(--components-inputs-backgrounds-input-hover-bg-dark);
    --components-input-outlined-focusbg-light: var(--components-inputs-backgrounds-input-focus-bg-light);
    --components-input-outlined-focusbg-dark: var(--components-inputs-backgrounds-input-focus-bg-dark);
    --components-input-outlined-disabledbg-light: var(--components-inputs-backgrounds-input-disabled-bg-light);
    --components-input-outlined-disabledbg-dark: var(--components-inputs-backgrounds-input-disabled-bg-dark);
    --components-input-outlined-inputtextvalue-light: var(--components-inputs-text-input-text-value-light);
    --components-input-outlined-inputtextvalue-dark: var(--components-inputs-text-input-text-value-dark);
    --components-checkbox-defaultenabledborder-light: var(--base-grey-300);
    --components-checkbox-defaultenabledborder-dark: var(--base-grey-500);
    --components-checkbox-defaultenabledfill-light: rgba(0 0 0 / 0.12);
    --components-checkbox-defaultenabledfill-dark: rgba(255 255 255 / 0.12);
    --components-checkbox-defaulthoverborder-light: #000000;
    --components-checkbox-defaulthoverborder-dark: #ffffff;
    --components-checkbox-primaryenabledborder-light: var(--base-grey-300);
    --components-checkbox-primaryenabledborder-dark: var(--base-grey-500);
    --components-checkbox-primaryenabledfill-light: rgba(0 0 0 / 0.12);
    --components-checkbox-primaryenabledfill-dark: rgba(255 255 255 / 0.12);
    --components-checkbox-primaryhoverborder-light: #000000;
    --components-checkbox-primaryhoverborder-dark: #ffffff;
    --components-checkbox-defaulthoverfill-light: rgba(0 0 0 / 0.12);
    --components-checkbox-defaulthoverfill-dark: rgba(255 255 255 / 0.12);
    --components-checkbox-primaryhoverfill-light: rgba(0 0 0 / 0.12);
    --components-checkbox-primaryhoverfill-dark: rgba(255 255 255 / 0.12);
    --components-checkbox-defaultfocusborder-light: #000000;
    --components-checkbox-defaultfocusborder-dark: #ffffff;
    --components-checkbox-primaryfocusborder-light: #000000;
    --components-checkbox-primaryfocusborder-dark: #ffffff;
    --components-checkbox-defaultdisabledborder-light: #000000;
    --components-checkbox-defaultdisabledborder-dark: #ffffff;
    --components-checkbox-primarydisabledborder-light: #000000;
    --components-checkbox-primarydisabledborder-dark: #ffffff;
    --components-tooltip-fill-light-light: var(--base-grey-25);
    --components-tooltip-fill-light-dark: var(--base-grey-900);
  }